In [1]:
###################### Import Packages #############################################
import requests
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
import statsmodels.formula.api as smf
from ffb_functions import *
pd.set_option('display.max_columns', 500)
pd.options.display.max_rows = 999

In [2]:
############## Assemble the database #########################################

database = pd.read_csv('profootballreference.csv')

In [18]:
db = database.loc[pd.notna(database.FantPos)
                 & (database.Year > 2000)
                 ].reset_index(drop = True)

# list of unique players (doesnt account for the  mike williams' yet)
db['UID'] = pd.factorize(db.Name+db.FantPos)[0]
db

db = db.merge(db.groupby('UID').max().reset_index()[['UID','Year'
                                                    ]].rename(columns = 
                                                              {'Year':'Last_Year'})
                            , on = 'UID', how = 'left')
db = db.merge(db.groupby('UID').min().reset_index()[['UID','Year'
                                                    ]].rename(columns = 
                                                              {'Year':'First_Year'})
                            , on = 'UID', how = 'left')

In [31]:
# create row for each player for each year from their first year in data to their last year
one = db[['Name', 'FantPos', 'UID', 'First_Year', 'Last_Year']].drop_duplicates().reset_index(drop = True)
two = db.groupby(['First_Year', 'Last_Year']).count().reset_index()[['First_Year', 'Last_Year']]
two = two.rename(columns = {'Last_Year': 'Year'})
three = one.merge(two, on = ['First_Year'], how = 'outer')

three.loc[three.Name == 'Amari Cooper']

               Name FantPos   UID  First_Year  Last_Year  Year
24535  Amari Cooper      WR  2101        2015       2018  2015
24536  Amari Cooper      WR  2101        2015       2018  2016
24537  Amari Cooper      WR  2101        2015       2018  2017
24538  Amari Cooper      WR  2101        2015       2018  2018